apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- demo-api1-rollout.yaml
- demo-api1-svc-active.yaml
- demo-api1-svc-preview.yaml
# - demo-api1-ingress-preview.yaml
# - demo-api1-ingress.yaml

images:
- name: saturn203/demo-api1
  newTag: RB0.0.4
