apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- demo-api1-rollout.yaml
- demo-api1-svc-active.yaml
- demo-api1-svc-preview.yaml
- ingress-preview-demo-api1.yaml
- ingress-demo-api1.yaml

images:
- name: saturn203/demo-api1
  newTag: RB0.0.20
