apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# - demo-api1-ingress.yaml
resources:
- demo-api1-svc.yaml
- demo-api1-rollout.yaml

images:
- name: saturn203/demo-api1
  newTag: RB0.0.6
